body {
    background-color: #2B2B2B !important;
}
.navbar {
    background-color: #414141 !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.card-header {
    background-color: #414141 !important;
    color: white;
}

.card-body {
    background-color: #414141 !important;
    border-color: #414141;
}

.card {
    border: inherit;
    margin: 0.5rem;
    background-color: inherit;
}

p {
    color: white;
}

a.nav-link.active {
    color: #EE771B !important;
}

.nav-link:hover {
    color: #EE771B !important;
} 

/* Vue d'ensemble */
.prixSprint {
    width: 20%;

}

.ecart {
    flex: inherit;
}

.ecart p {
    margin-bottom: 1px;
}

.ecart .prix {
    font-size: 25px;
}

.ecart .sprint {
    font-size: small;
}

/* Qualité */
#liste {
    align-items: center;
    color: rgb(194, 194, 194);
}

#qualiteNomSprint {
    color: white;
}

ul li {
    content: "\2022";
    color: rgb(194, 194, 194);
}

.card-body #totalQualite {
    vertical-align: bottom;
    margin-top: 5%;
    position: absolute;
    width: 100%;
    bottom: 2%;
    color: white;
}

ul {
    margin-bottom: 2rem;
}

#progress svg {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}